@import url("https://fonts.googleapis.com/css2?family=Stylish&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #7f5a83;
  background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
  font-family: monospace;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  overflow: hidden;
}

body .top {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

body .top .perspective {
  width: 100%;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

body .top .perspective .card {
  width: 270px;
  height: 413px;
  margin: auto;
  -webkit-box-shadow: 0 70px 63px -60px #494848;
          box-shadow: 0 70px 63px -60px #494848;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.05s linear;
  transition: -webkit-transform 0.05s linear;
  transition: transform 0.05s linear;
  transition: transform 0.05s linear, -webkit-transform 0.05s linear;
}

body .top .perspective .card .thumb {
  background-image: url(../img/img1.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

body .top .perspective .card .thumb:after {
  background: inherit;
  content: '';
  display: block;
  position: absolute;
  left: -60px;
  top: 40px;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-filter: blur(55px);
          filter: blur(55px);
}

body .top .perspective .card h2 {
  position: absolute;
  top: 0;
  left: -60px;
  font-size: 40px;
  font-weight: 100;
  -webkit-transform: translateZ(80px);
          transform: translateZ(80px);
}

body .top .perspective .card span {
  position: absolute;
  bottom: 40px;
  right: -280px;
  font-size: 37px;
  font-weight: 400;
  -webkit-transform: translateZ(35px);
          transform: translateZ(35px);
}
